name: Account Service CI/CD

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build with Maven
        run: mvn clean package -DskipTests=true

  push_image:
    needs: build
    runs-on: ubuntu-latest

    env:
      # Replace DOCKER_HUB_USERNAME with your actual username or repository owner
      IMAGE_REPO: ${{ secrets.DOCKER_HUB_USERNAME }}/account-service
      # Use the current commit SHA as a unique tag
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build and Push Docker Image with Jib

        env:
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

        run: |
          mvn compile jib:build \
            -Djib.to.image=${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }} \
            -Djib.to.auth.username=${{ secrets.DOCKER_HUB_USERNAME }} \
            -Djib.to.auth.password=${{ secrets.DOCKER_HUB_TOKEN }} \
        
        
